<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="../static/css/style_sp.css"
      media="screen and (max-width:480px)"
    />

    <!-- drawer.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css"
    />
    <!-- iScroll -->
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/jquery.fadethis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <title>Programming</title>
  </head>

  <body class="drawer drawer--right">
    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav" role="navigation">
        <ul class="drawer-menu">
          <li class="drawer-menu-item" id="top"><a href="/#title">TOP</a></li>
          <li class="drawer-menu-item" id="flexbox">
            <a href="/#sec1">Flexbox</a>
          </li>
          <li class="drawer-menu-item" id="about">
            <a href="/#sec2">About</a>
          </li>
          <li class="drawer-menu-item" id="skill">
            <a href="/#sec3">Skill</a>
          </li>
          <li class="drawer-menu-item" id="portfolio">
            <a href="/#sec4">Portfolio</a>
          </li>
          <li class="drawer-menu-item">
            <a href="/register">ご登録はこちら</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
      Copyright@programming
    </footer>
    <script src="../static/js/index.js"></script>
  </body>
</html>
