{% extends 'base.html' %} {% block content %}

<div class="form_content">
  <p>{{user_info[0]}}さん こんにちは</p>
  <br />
  <!-- 課題4の答えはここ -->
  <!-- user_info[1]  id と紐づいている -->
  <img src="../static/image/{{user_info[1]}}" alt="" class="prof_img" />
  <br />
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form_field">
      <p>アップロードするファイルを選択してください</p>
      <br />
      <input type="file" name="upload" value="画像変更" /><br />
      <input type="submit" value="画像アップロード" /><br />
    </div>
  </form>

  <form action="/add" method="post">
    投稿者：{{user_info[0]}}<br />
    <label for="text_content">内容：</label>
    <br />
    <textarea id="text_content" name="comment" cols="30" rows="5"></textarea
    ><br />
    <input type="submit" name="save" value="送信" />
  </form>

  {% for item in comment_list %}
  <div class="bbs_content">
    <p>{{item["comment"]}}</p>
    <br />
    <p>投稿時間:{{item["time"]}}</p>
    <br />
    <a class="bbscontent_a" href="/edit/{{item['id']}}">編集</a>
    <br />
    <!-- 課題3の答えはここ -->
    <form class="delete" action="/del" method="post">
      <input type="hidden" name="comment_id" value="{{item['id']}}" />
      <input type="submit" name="delete" value="削除する" />
    </form>
    <br />
  </div>
  {% endfor %}
  <br />
  <div>
    <a class="bbscontent_a" style="color: rgb(62, 62, 62);" href="/logout"
      >ログアウト</a
    >
  </div>
</div>

{% endblock %}
